<!DOCTYPE html>
<!-- Coded by sSandeep Kumar -->
<html lang="en" dir="ltr">
  <head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">


    <title>Login</title>
   </head>
<body>
  <div class="wrapper">
    <h2>Login</h2><br>

    {% if messages %}
    {% for message in messages %}
      <h2 style="color: #b22222;">{{message}}</h2>
    {% endfor %}
  {% endif %}
      
    
    <form action="#" method="POST">
      {% csrf_token %}
      <div class="input-box">
        <input type="text" placeholder="Enter your username" required name="uname">
      </div>
      <div class="input-box">
        <input type="password" placeholder="Enter your password" required name="pass">
      </div>
      <div class="policy">
      </div>
      <div class="input-box button">
        <input type="Submit" value="Login">
      </div>
      <div class="text">
        <h3>Don't have an account? <a href="{% url 'register' %}">Register now</a></h3>
      </div>
     
    </form>
  </div>
</body>

</html>
